body {
    margin: 0;
    padding: 0;
    background: #e0f7fa;
    font-family: Tahoma;
    text-align: center;
}

.app {
    width: 90%;
    max-width: 450px;
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px #888;
}

input {
    width: 90%;
    padding: 12px;
    font-size: 17px;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-radius: 10px;
}

button {
    padding: 12px 25px;
    background: #0288d1;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

video {
    width: 100%;
    margin-top: 10px;
    border-radius: 12px;
    background: black;
}
