body {
    font-family: sans-serif;
    background: #dff6ff;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    width: 330px;
    margin: 20px auto;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 12px;
    width: 95%;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
}

video {
    width: 100%;
    background: black;
    margin-top: 10px;
    border-radius: 8px;
}
