body {
    margin: 0;
    padding: 0;
    background: #e0f7fa;
    text-align: center;
    font-family: Tahoma;
}

.app {
    width: 92%;
    max-width: 450px;
    margin: 25px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px #888;
}

input {
    width: 85%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-size: 18px;
    text-align: center;
}

button {
    width: 90%;
    padding: 12px;
    background: #0288d1;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

video {
    width: 100%;
    margin-top: 10px;
    background: black;
    border-radius: 12px;
}
