body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    background: #e1f5fe;
    text-align: center;
}

.app {
    width: 92%;
    max-width: 450px;
    margin: 25px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px #999;
}

input {
    width: 85%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-size: 17px;
    text-align: center;
}

button {
    padding: 12px 20px;
    width: 90%;
    background: #0288d1;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

video {
    width: 100%;
    margin-top: 12px;
    border-radius: 12px;
    background: black;
}
